<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProjectViews</title>
  </head>

  <body>
  <div class="container mt-5">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%= asset_path('bis.png') %>" alt="BIS">
  <div class="card-body">
    <h5 class="card-title">Comment nous rejoindre?</h5>
    <p class="card-text">Retrouvez-nous sur notre serveur discord.</p>
    <a href="https://discord.gg/hXdpu9j" class="btn btn-primary">Viens!</a>
  </div>
</div>
  </div>

    <%= yield %>
  </body>
</html>
