<html>
  <head>
    <title>Page potin</title>
  </head>
  <body>
    <h1>Voici la page du potion n° <%= id %></h1>
    <p>Son auteur: <%= gossip["author"] %> </p>
    <p>Son content: <%= gossip["content"] %> </p><br>
    <a href="/">Revenir à la page d'arcueil</a>

  </body>
</html>