<!DOCTYPE html>
<html>

<head>
  <title>TheGossipProjectViews</title>
</head>

<body>

  <div class="container mt-4">
    <h4>Potin:</h4>

    <div class="row">
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <%= link_to @gossip.user.first_name , profile_path(:first_name => @gossip.user.first_name)%></p>
        </div>
        <div class="card-body text-success">
          <p class="card-text">Id: <%=  @gossip.id %></p>
          <p class="card-text">Titre: <%=  @gossip.title  %></p>
          <p class="card-text">Contenu: <%=  @gossip.content %></p>
          <p class="card-text">Date de création: <%=  @gossip.created_at %></p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>