 
<div class="container mail-container border">
  <div class="mail-headers row d-flex p-3 border-bottom mb-4">
    <h4>THPmail</h4>
    <%= link_to 'Get a new mail', new_email_path,remote: true, class: "btn btn-primary offset-sm-9"%>
  </div>
  <div class="mail-content row">
    <div class="email-object col-md-4 border-right">
      <ul class="email-list">
        <% @emails.each do |email| %>
          <li id="email_<%= email.id%>" 
          class="<%= email.read ? '' : 'font-weight-bold'%>"
          >
            <%= link_to email.object, email_path(email), remote: true %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-8" id="email-display">
    </div>
  </div>
</div>