// Place all the styles related to the gossip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gossip-form {
  background-color: #f8f9fa;
  padding: 24px;
  border-radius: 3px;
}
